#footer {
    border-top: 1px solid #eee;
    margin-top: 1em;
    padding: 1em 2em;
    text-align: center;
}

#byline {
    font-size: 0.8rem;
}

#byline a, #byline a:visited {
    color: #cc60cc;
}

#byline a:hover, #byline a:active {
    color: #ee82ee;
}