#footer {
    border-top: 1px solid #eee;
    margin-top: 1em;
    text-align: center;
    margin-bottom: 2em;
}

div#nav-container {
    height: 2em;
    color: #333;
    padding: 1em 3em;
}

body[data-ep="0"] div#nav-container,
body[data-ep="meta"] div#nav-container {
    visibility: hidden;
}

#next, #next i {
    float: right;
}
#prev, #prev i {
    float: left;
}

#prev, #next {
    display: inline-block;
    user-select: none;
    width: 45%;
    max-width: 20rem;
    height: 1.5em;
    padding: 0.25em;
    border-radius: 4px;
    cursor: pointer;
    transition: background 300ms;
    -webkit-transition: background 300ms;
}

#next {
    text-align: right;
}
#prev {
    text-align: left;
}

#prev i, #next i {
    line-height: 0.9em;
}

#prev:hover, #next:hover {
    background: #ccc;
    color: #111;
}

#disqus_thread {
    padding: 1em 4em;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 1em;
    background-color: #f5f5f5;
}

#byline, #user-copyright {
    font-size: 0.8rem;
}

#user-copyright {
    margin-right: 2rem;
}

#byline a, 
#byline a:visited {
    color: #cc60cc;
}

#byline a:hover, 
#byline a:active {
    color: #ee82ee;
}

@media screen and (max-width: 500px) {
    div#nav-container {
        padding: 1em;
    }
    div#disqus_thread {
        padding: 1em 2em;
    }
}
@media screen and (max-width: 400px) {
    div#disqus_thread {
        padding: 1em;
    }
}